/*
	Author:
		Luis Rodríguez Fallas.
		rodriguezfallasluis@gmail.com.
	Creation date:
		Wednesday, February 23, 2022.
    Last update:
		Sunday, March 13, 2022.

	Typographic fonts:
    Title h1: Lusitana
    Menu: Michroma
    SubTitle: Michroma
    Paragraphs: Michroma
    Paragraphs Michroma

	Color Palettes
		Dominant Color: #1c1f2a;
		Tonic Color or complementary: #00cc00;
    Secondary Color: #242424;
		Mediation Color:  #1c1d1e;
    Background Color: #1c1f2a;

*/

/* Normalize */
@import url(./css/normalize.css);
/*font*/
@font-face {
  font-family: var(--fontFamilyLusitana);
  src: url(./font/Lusitana/Lusitana-Regular.ttf) format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: var(--fontFamilyLusitana);
  src: url(./font/Lusitana/Lusitana-Bold.ttf) format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: var(--fontFamilyMicrhoma);
  src: url(./font/Michroma/Michroma-Regular.ttf) format("ttf");
  font-weight: 400;
}

/* VARIABLES */
:root {
  --mainColor: #1c1f2a;
  --ComplementColor: #00cc00;
  --secondaryColor: #242424;
  --thirdColor: #1c1d1e;
  --logoSizeMobile: 24px;
  --titleSizeMobile: 48px;
  --subTitleSizeMobile: 36px;
  --paragraphSizeMobile: 20px;
  --logoSizeTablet: 36px;
  --titleSizeTablet: 72px;
  --subTitleSizeTablet: 48px;
  --paragraphSizeTablet: 24px;
  --fontFamilyLusitana: "Lusitana";
  --fontFamilyMicrhoma: "Michroma";
}
[type="radio"],
[type="checkbox"] {
  display: none;
}
body {
  background-color: var(--mainColor);
  color: white;
  font-family: var(--fontFamilyLusitana);
}
.containerGrid {
  margin: 0 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#navbar {
  grid-column: span 12;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  text-align: center;
}
#navbar .logo a {
  font-family: var(--fontFamilyMicrhoma);
  font-size: 24px;
  text-decoration: none;
  color: #fff;
}
#navbar .menu {
  position: absolute;
  /* top: 10px; */
  transform: translate(0, -2px);
  right: 20px;
  z-index: 10;
}
#navbar .menu span {
  cursor: pointer;
  width: 25px;
  height: 4px;
  background: white;
  position: relative;
  display: inline-block;
}
#navbar .menu span::before {
  content: "";
  width: 25px;
  height: 4px;
  background: white;
  position: absolute;
  display: inline-block;
  top: -8px;
  left: 0;
  transition: 0.5s;
}
#navbar .menu span::after {
  content: "";
  width: 25px;
  height: 4px;
  background: white;
  position: absolute;
  display: inline-block;
  top: 8px;
  left: 0;
  transition: 0.5s;
}
#navbar .hiddenMenu {
  border: 1px solid var(--ComplementColor);
  width: 200px;
  height: 50vh;
  border-radius: 20px;
  background: var(--mainColor);
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -210px;
  z-index: 5;
}
#navbar .hiddenMenu div {
  font-family: var(--fontFamilyLusitana);
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: 300;
  line-height: 50px;
}
#navbar .hiddenMenu div:hover {
  color: #000;
}
/*-----------------------------------------CHECK-BOX-----------------------------------------*/
#chk:checked ~ .hiddenMenu {
  right: 0px;
  display: flex;
}
#chk:checked ~ .menu span {
  background: var(--mainColor);
}
#chk:checked ~ .menu span {
  background: var(--mainColor);
}
#chk:checked ~ .menu span::before {
  top: 0;
  transform: rotate(-135deg);
  background: white;
}
#chk:checked ~ .menu span::after {
  top: 0;
  transform: rotate(135deg);
  background: white;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 12;
  margin: 0 0 20px 0;
  gap: 10px;
}
.sectionImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 12;
}
#imga {
  width: 100%;
}
.contentContainer {
  text-align: center;
  width: 330px;
}
.title {
  font-size: var(--titleSizeMobile);
  text-align: center;
  font-style: bold;
  text-transform: capitalize;
  font-family: var(--fontFamilyLusitana);
}
.title span {
  color: var(--ComplementColor);
}
.contentContainer p {
  font-size: var(--paragraphSizeMobile);
  text-align: center;
}
.contentContainer button {
  text-transform: uppercase;
  width: 276px;
  height: 40px;
  background-color: var(--ComplementColor);
  color: white;
  border-radius: 50px;
  border-style: none;
  cursor: pointer;
}
.subTitle {
  grid-column: span 12;
  text-transform: capitalize;
  font-size: var(--subTitleSizeMobile);
  text-align: center;
  font-weight: 100;
}
.advertisingImage {
  grid-column: span 12;
}

/* ************************************ CARDS */
.containerCads {
  gap: 20px;
  grid-column: span 12;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 330px;
  height: 720px;
  background-color: var(--secondaryColor);
  border-radius: 20px;
  width: 330px;
  position: relative;
}
.card__Container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 20px;
  text-align: center;
}
.card__Container picture img {
  width: 290px;
  height: 263px;
}
picture {
  grid-column: span 12;
  margin: 20px 0;
}
picture img {
  grid-column: span 12;
  border-radius: 20px;
  width: 100%;
}
.content {
  grid-column: span 12;
  width: 290px;
}
.content picture {
  width: 290px;
  height: 263px;
}

.content {
  height: 293px;
  position: relative;
}
.content h3 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.content p {
  font-size: 20px;
  text-align: center;
}
.content button {
  grid-column: span 12;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  background-color: var(--ComplementColor);
  color: white;
  border-radius: 50px;
  border-style: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 0;
}
.card__Statistics {
  grid-column: span 12;
  background-color: var(--thirdColor);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card__Statistics div {
  text-align: center;
}
.card__Statistics h4 {
  font-size: 18px;
  font-weight: 400;
}
.card__Statistics p {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
footer {
  margin-top: 50px;
  padding: 0px 10px 0 10px;
  background-color: var(--secondaryColor);
  text-align-last: center;
}
footer img {
  width: 270px;
  margin: 13px 45px 0;
}
footer p {
  font-size: 12px;
  text-align: center;
  margin: 20px 0 0 0;
  padding-bottom: 10px;
}

/* ************************************ RESPONSIVE */
@media screen and (min-width: 820px) {
  .section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .containerImage {
    grid-column: span 6;
    justify-self: center;
  }
  .contentContainer {
    grid-column: span 6;
    width: 100%;
  }
  .title {
    font-size: var(--titleSizeTablet);
  }
  .contentContainer p {
    font-size: var(--paragraphSizeTablet);
  }
  .subTitle {
    font-size: var(--subTitleSizeTablet);
  }
  .sectionReverse article:nth-of-type(1) {
    order: 2;
  }
}
